.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 400px; /*note to self: fix this*/

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: flex-end;
        max-width: 864px;
        width: 100%;
        margin: 10px;
    }
}
