$mobile: 0px;
$tablet: 320px;
$desktop: 768px; 

/*Unsure how to handle max-widths. I chose 600+800px as the pictures 
still look good and doesn't become too big for the screen width, but it just 
feels like I just made up a number. Is there a correct way to think when choosing
max-width for responsive sites? */

.info {
    border: solid red 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__container { /*height issues here*/
        max-width: 574px;
        width: 100%; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        border: solid blue 2px;
    }

    &__headline {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -2px;
        color: #FFFFFF;
        @media screen and (min-width: $mobile) {
            font-size: 36px;
            line-height: 40px;
        }
        @media screen and (min-width: $tablet) {
            font-size: 72px;
            line-height: 83px;
        }
        @media screen and (min-width: $desktop) {
            font-size: 84px;
            line-height: 102px;
        }
    }

    &__text {
        font-family: "Source Sans Pro", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
        @media screen and (max-width: $tablet) {
            font-size: 22px;
            line-height: 33px;
        }
        @media screen and (max-width: $mobile) {
            font-size: 12px;
            line-height: 18px;
        }
    }
}

